<div id="intro">
    <div class="row">
        <%= image_tag("icon_smile_lickit.png", class: "lickit-bg") %>
        <div class="centerbox">
            <h1 class="heading">Zlepši školu</h1>
            <h4><b>Navrhni</b> své <b>škole</b> co by <b>měla řešit!</b></h4>
            <h4>Sdílej spolužákům své nápady a společně vyberte ty nejdůležitější</h4>
            <h4>Po uplynutí 30 dní pošleme Tobě a škole email s výsledkem.</h4>
            <button class="btn btn-lg btn-custom" >REGISTROVAT</button>
            <br>
            <button class="btn btn-lg btn-custom-inverse">PŘIHLÁSIT</button>
        </div>
    </div>
</div>
